@import url('https://fonts.googleapis.com/css?family=Roboto|Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Homenaje&display=swap');

*, ::before, ::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-family: 'Fjalla One', 'Titillium Web', sans-serif;
    font-size: 10px;
    background-color: #f1c40f;
    background-image: url(images/background3.jpg);
    background-position: center;
    background-blend-mode: multiply; 
}
body {
  overflow-x: hidden;
}

a {
    text-decoration: none;
    letter-spacing: 1.3px;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    position: fixed;
    top:0;
    left:0;
}

.container {
    width: 100%;
    /* max-width: 117rem; */
    margin:0 ;
    padding: 0 ;
    background-color: rgba(83, 92, 104, 0.8);

}

.menu-icons{
    color: #eee;
    font-size: 4rem;
    position: absolute;
    top:50%;
    right:2rem;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1300;
    display: none;
}

.logo {
    margin: 0 3rem;
}

nav{
    display: flex;
    align-items: center;
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid rgba(255,255,255, 0.5);
}

.nav-list {
    display: flex;
    width: 100%;
    align-items: center;
}

.nav-list li {
    line-height: 8rem;
    position: relative;
}

.sub-menu li {
    line-height: 4rem;
}

.nav-list a {
    display: block;
    color: #eee;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0 3.5rem;
    transition: color 650ms ease-in-out;
}

.nav-list a:hover {
    /* color: #f6b93b; */
    color: yellow
}
.githubicon{
    margin-right: 2rem ;
}

.sub-menu {
    width: 23rem;
    display:block;
    position: absolute;
    border-top: 2px solid yellow;
    background-color: rgba(83, 92, 104, 0.8);
    z-index:100;
    top:10rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease-in-out;
}

.sub-menu::before {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: solid 1.2rem transparent;
    border-bottom-color: yellow;
}

.sub-menu .sub-menu::before {
    top:0.9rem;
    left:-2.5rem;
    border: solid 1.2rem transparent;
    border-right-color: yellow;
}

.sub-menu .sub-menu {
    border-top: none;
    border-left: 2px solid yellow;
    top:0;
    left:150%;
}

.nav-list li:hover > .sub-menu {
    top:8rem;
    opacity: 1;
    visibility: visible;
}

.sub-menu li:hover > .sub-menu {
    left:100%;
    top:0;
    opacity: 1;
    visibility: visible;
}

/* @media screen and (max-width:800px) {
    .nav-list {
        position: fixed;
        top:0;
        left:0;
        height:100vh;
        display: none;
        flex-direction: column;
        align-items: initial;
        background-color: rgba(83, 92, 104, 0.4);
        z-index: 1000;
        overflow-y: scroll;
    }

    .nav-list > li {
        line-height: 6rem;
    }

    .sub-menu {
        position: initial;
        border: 3px solid transparent;
        border-left-color: yellow;
        margin-left: 1rem;
        max-height: 0;
    }

    .sub-menu::before {
        display: none;
    }

    .nav-list li:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
        max-height: initial;
    }

    .menu-icons{
        display: block;
    }

    .ion-md-close{
        display: none;
    }

    nav.active .ion-md-close {
        display: block;
    }

    nav.active .ion-md-menu {
        display: none;
    }

    nav.active .nav-list {
        display:flex;
    }

} */

/* --------END OF NAVIGATION MENU */

/* BEGINNING OF MAIN PART OF THE FRONT PAGE */
.manset{
    width:95rem;
    height:10rem;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:-1 ;
}

.manset p{
    color:black;
    font-size: 5rem;
    line-height: 10rem;;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: none;
    transition: all 1100ms ease;
}

.manset p span{
    position: relative;
    z-index: 1;
}

.manset p:hover {
    color:white;
    text-shadow: 10 10 10px black;
}

.manset p:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    border-top:solid 2px transparent;
    transform-origin: left;
    transition: 2100ms;
}

.manset p:hover:before{
    width:100%;
    border-top:solid 2px cornsilk;
    border-bottom:solid 2px cornsilk;
}

.manset p:after{
    content: '';
    position: absolute;
    bottom:0;
    right:0;
    width:0;
    height:100%;
    border-bottom:solid 2px transparent;
    transform-origin: right;
    transition: 2100ms;
}

.manset p:hover:after{
    width:100%;
    border-bottom:solid 2px cornsilk;
}

/* END OF MAIN PART OF THE FRONT PAGE */
